* {
    text-decoration: none;
    margin: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@402&display=swap');

.container {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vh;
    z-index: 999;
    background-color: rgb(112, 145, 230);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    align-items: center;
    border-bottom: 2px inset  rgba(237, 232, 245, 0.7);

}


h2 {
    color: white;
    font-size: 17px;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 6;
    width: 25%;
    justify-content: space-between;
    margin-left: 20%;
}

.end-icons {
    margin-left: auto;
    margin-top: 3px;
    color: white;
}

.mail:hover{
    transform: translateY(-4%);
    color: red;
}
.linked-in:hover{
    transform: translateY(-4%);
    color: red;
}
.github:hover{
    transform: translateY(-4%);
    color: red;
}

.mail {
    margin-top: 3px;
    font-size: 35px;
    cursor: pointer;
    position: relative;
    transition: 0.2s linear;
}

.linked-in {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 35px;
    cursor: pointer;
    position: relative;
    transition: 0.2s linear;
}

.github {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 35px;
    cursor: pointer;
    position: relative;
    margin-right: 30px;
    transition: 0.2s linear;
}

.nav {
    width: auto;
    height: auto;
    padding: 5px;
    position: relative;
    transition: 0.2s transform linear;
    cursor: pointer;
}

.nav:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}